body
{
    color:#40514E;
    margin:0;
    text-align: center;
   font-family:'Merriweather', serif;
}

h1{
    margin:50px auto 0 auto;
    font-family:'Dancing Script', cursive;
    color: #66BFBF;
    font-size: 562.5%; /*100%=16px;or 1em=16px*/
    line-height:2;
}
h2{
font-family: 'Montserrat', sans-serif;
font: size 2.5rem;
color:#11cdd4;
font-weight:bolder;
line-height:2px;
padding-bottom:10px;
}
h3
{
font-family:'Montserrat', sans-serif;
color:#3DB2FF;
font-weight: bolder;

}
.top-container{
    background-color:#CDF0EA;
    height: auto;
    width: auto;
    padding-top :100px;
    position: relative;

    /*border:10px solid black;*/
}
.middle-container
{
margin:100px 0;
}
.bottom-container
{
margin-top: 100px 0;
background-color: #66BFBF;
color: #EAF6FA;
padding:50px 0 20px;
font-size:0.75rem;
}
.bottom-container p
{
    padding:20px 0;
}
.top-cloud
{
position:absolute;
top:100px;
margin-top:40px;
height: 300px;
right: 100px;
}
.bottom-cloud
{
    position: absolute;
    left:50px;
    bottom:100px;
    height: 300px;
}
.profile img
{
    border-radius:100%;
    height: 100px;
    margin-top:10px;
}
.image1{
    border-radius:100%;
    height: 200px;
    margin-top:40px;
    width: 40%;
    float: left;
    margin-right:10px;
    
}
.image2{
    border-radius:100%;
    height: 200px;
    margin-top:10px;
    width: 30%;
    float:right;
    margin-left:30px;;
}
.skill-row
{
    width: 50%;
    margin: 100px auto 100px auto;/*top right bottom left   */
    text-align: left;
    line-height:2;
}
.skill-row p{
    width: 150%;
    margin:40px auto 40px auto;
    color:black;
}
hr
{
            
 border-style: dotted none none;
 border-color:gray;
 border-width:5px;
 width:5%;
 margin: 100px auto;
} 
.contact-message
{
    width:40%;
    margin:40px auto 40px auto;
    color:black;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
   
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
a
{
    color:#11999E;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    margin: 10px 20px;
}
a:hover
{
    color:#EAF6FA;
}
.menu
{
margin-top: 100px 0;
background-color:#CDF0EA;
color: #EAF6FA;
padding:50px 0 20px;
font-size:0.75rem;
height:15px;
width: 1500px;;
position: fixed;
top:1px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    
  }
  li{
      display: inline;
      margin-right:50px;
  }
  li a{
      color: #11cdd4;
      font-weight: bolder;
      font-size: larger;
      font-family: 'Montserrat', sans-serif;
    
  }
 li a:hover
{
    color:#F4F6FF;

}
.profile-icon
{
    float:left;
    height:50px;
   margin-left: 200px;
   display:flex;
   
}
.boy
{
    border-radius: 100%;
}
@media screen and (max-width: 800px) {
    .top-container, .middle-container, .bottom-container,.menu {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }